<!DOCTYPE html>
<html>
<head>
	<title>Hero Squad Application</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/pulse/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Freckle+Face" rel="stylesheet"> 
	<style>
		input{
			width: 60%;
			padding: 5px;
			text-indent: 10px;
			float: right;
		}
		label{
			width: 20%;
			float: left;
			font-weight: bold;
			color: #000;
		}
	</style>
</head>
<body>
	<div class="container">
		
		<br><h1 class="text-center" 
		style="font-family: 'Freckle Face', cursive; color: #01018a;">Welcome to Hero Squad App</h1><hr>			
		</div>
		#parse( $template )
	


	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
</body>
</html>