		<p class="text-info text-center" style="font-size: 17px;">
			These Appliction Manages how you Recruit a hero in a Specific Squad..<br>
			<small>Hurray !!: <b>You At Step 2, You have Successfully Added a new Hero</b></small>
		</p>
		<center><a href="/heros" class="btn btn-success btn-lg">Proceed to view Heros</a></center>